.filter_section{
    width: max-content;
    margin-top: 48px;
    float: right;
    width: 141px;
    height: 16px;
    margin-right: 243px;
}
.filter{
   
    font-style: normal;
    color: black;
}